body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.cajaNavegacion {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c71f19;
    text-decoration: underline;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border: 2px solid black;
    border-top-width: 10px;
    border-radius: 20px;
    transition: 1s all;
}

.productos li:hover {
    border-color: #c71f19;
    transform: scale(1.2);
    
}

.productos li:active {
    border-color: #2c2020;
    transition: 0s;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

form {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
}

.input-padron:hover {
    background: #e2d1d1;
    border-color: #c71f19;
}

.input-padron:focus {
    background: #e2d1d1;
    border: 1px solid black;
    border-top-width: 5px;
}

fieldset select {
    border-radius: 20px;
    font-size: 17px;
    width: 15%;
    text-align: center;
}

.checkbox {
    margin: 30px 0;
}

.enviarFormulario {
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 10px;
    border-color: black;
    transition: 2s all;
    cursor: pointer;
}

.enviarFormulario:hover {
    background: #e2d1d1;
    border-color: #c71f19;
    transform: scale(1.2);
}

table {
    margin: 30px 40px 40px 550px;
    
}

thead {
    background: #bbbbbb;
    font-weight: bold;
    color: black;
}

td, th {
    border: 1px solid black;
    padding: 8px 20px;
}

/*CSS PARA PAGINA PRINCIPAL(HOME)*/

.banner {
    width: 100%;
    margin: 20px 0;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
    text-shadow: 3px 3px 10px red ;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
    color: #c71f19;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 140px;
    float: left;
    margin: 10px 20px;
    border-radius: 20px;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    text-align: center;
    margin: 0 0 1em;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 30px 0;
} 

.items {
    line-height: 1.5;
}

.items:before{
    content: "★";
    color: #c71f19;
}

.items:first-child {
    font-weight: bold;
}

.img-diferenciales {
    width: 60%;
    transition: 500ms;
    box-shadow: 10px 10px 30px 10px black;
    border-radius: 50px;
}

.img-diferenciales:hover{
    opacity: 0.7;
    scale: 1.05;
}

.video {
    width: 50%;
    margin: 5em auto 2em auto;
}

@media screen and (max-width:480px){
   
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }
   .cajaNavegacion, .principal, .mapa-contenido, .contenido-diferenciales, .video{
    width: auto;
   }
    
   .lista-diferenciales, .img-diferenciales{
    width: 100%;
   }

}